:root {  
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  
  --ion-color-primary: #6600ff;
  --ion-color-primary-rgb: 102,0,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5a00e0;
  --ion-color-primary-tint: #751aff;

  --ion-color-green: #08ff08;
  --ion-color-green-rgb: 8,255,8;
  --ion-color-green-contrast: #000000;
  --ion-color-green-contrast-rgb: 0,0,0;
  --ion-color-green-shade: #07e007;
  --ion-color-green-tint: #21ff21;
  
  --ion-color-orange: #FFCF00;
  --ion-color-orange-rgb: 255,207,0;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e0b600;
  --ion-color-orange-tint: #ffd41a;

  --ion-color-red: #ff5555;
  --ion-color-red-rgb: 255,85,85;
  --ion-color-red-contrast: #000000;
  --ion-color-red-contrast-rgb: 0,0,0;
  --ion-color-red-shade: #e04b4b;
  --ion-color-red-tint: #ff6666;
  
  --ion-color-darkred: #FF073A;
  --ion-color-darkred-rgb: 255,7,58;
  --ion-color-darkred-contrast: #ffffff;
  --ion-color-darkred-contrast-rgb: 255,255,255;
  --ion-color-darkred-shade: #e00633;
  --ion-color-darkred-tint: #ff204e;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red);
  --ion-color-base-rgb: var(--ion-color-red-rgb);
  --ion-color-contrast: var(--ion-color-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-red-shade);
  --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-darkred {
  --ion-color-base: var(--ion-color-darkred);
  --ion-color-base-rgb: var(--ion-color-darkred-rgb);
  --ion-color-contrast: var(--ion-color-darkred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkred-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkred-shade);
  --ion-color-tint: var(--ion-color-darkred-tint);
}

.sc-ion-card-md-h {
  --color: var(--ion-color-step-900);
}

.card-content-md p {
  margin-bottom: 20px;
}

ion-chip {
  margin-left: 0;
  margin-right: 10px;
}

ion-chip:last-child {
  margin-right: 0;
}

hr {
  background:var(--ion-color-step-400);
  width: calc(100% - 152px);
  margin: 24px 76px;
}

ion-card-content hr {
  width: calc(100% - 120px);
  margin: 40px 60px;
}